@model CardViewModel
@using System.Text;

    <div class="card">

        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-auto">
                    <img src="@Model.src">
                </div>
                <div class="col">
                    <div class="card-body d-flex flex-column h-100">
                        <h5 class="card-title">@Model.title</h5>
                        <p class="card-text">@Model.description</p>
                        
                            @{
                                var builder = new StringBuilder("<p class='card-text'><b>Genres: </b>");

                                @for (int i = 0; i < Model.showgenre.Length; i++)
                                {
                                    if (i != 0)
                                    {
                                        builder.Append(", ");
                                    }
                                    bool isSelected = false;
                                    foreach(var x in Model.selectedGenre)
                                    {
                                        if (@Model.showgenre[i].Name.Equals(x.Name)) { isSelected = true; }
                                    }
                                    if (isSelected) {
                                        builder.Append("<b>" + @Model.showgenre[i].Name + "</b>");
                                    } else {
                                        builder.Append(@Model.showgenre[i].Name);
                                    }

                                }
                                builder.Append("</p>");
                            }
                            @Html.Raw(@builder.ToString())
                        
                        <div class="container align-self-end mt-auto">
                            <div class="row">
                                <div class="col-6">
                                    <button type="button" class="btn btn-success w-100" onclick="upvote(@Model.shownumber , @Model.showid)"><i class="fas fa-thumbs-up"></i></button>
                                </div>
                                <div class="col-6">
                                    <button type="button" class="btn btn-danger w-100" onclick="downvote(@Model.shownumber)"><i class="fas fa-thumbs-down"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>