@model LobbyViewModel


<div style="display:block;">
    <div>
        <div>
            <h1>Lobby ID: @Model.lobbyid</h1>
            <ul class="list-group" id="lobbyMemberList">
            </ul>
        </div>
        @if (Model.host)
        {
            <div>
                <p>confíg</p>
            </div>
        }

    </div>
    @if (Model.host)
    {
        <div>
            <button type="button" class="btn btn-success" onclick="startVoting()">Start</button>
        </div>
    }



</div>
@section scripts{
    <script type="text/javascript">

        var name = "@Model.name";
        var lobbyid = @Model.lobbyid;
        var userid = @Model.userid;
        var host = @Model.host.ToString().ToLower();

        var memberlist = [];
        var config = [];

        var intervalId;

        $(document).ready(function () {
            LoadLobbymembers();

            intervalId = setInterval(function () {
                checkLobbyMode();
                LoadLobbymembers();
            }, 5000);
        })

        function checkLobbyMode() {
            $.get("/Main/getMode", { lobbyid: lobbyid })
                .done(function (data) {
                    if (data == 1) {
                        window.open("/Main/GenreVoting?name=" + name + "&userid=" + userid + "&lobbyid=" + lobbyid + "&host=" + host, "_self");
                    }
                    if (data == 2) {
                        window.open("/Main/Voting?name=" + name + "&userid=" + userid + "&lobbyid=" + lobbyid + "&host=" + host, "_self");
                    }
                })
                .fail(function (data) {
                    alert("Error while trying to get Lobby mode");
                })
        }

        function LoadLobbymembers() {
            $.get("/Main/getMembers", {lobbyid: lobbyid })
                .done(function (data) {
                    var sortedData = data.slice().sort();
                    var equal = (sortedData.length === memberlist.length && sortedData.every(function (value, index) {
                        return value === memberlist[index];
                    }));
                    if (!equal) {
                        memberlist = sortedData;
                        displayLobbymembers();
                    }
                })
                .fail(function (data) {
                    alert("Error while trying to get memberlist");
                })
        }

        function displayLobbymembers() {
            $("#lobbyMemberList").empty();
            memberlist.forEach(element => $("#lobbyMemberList").append($("<li></li>").text(element).addClass("list-group-item")));
        }

        function submitConfig() {

        }

        function startVoting() {
            $.post("/Main/startVoting", { lobbyid: lobbyid, userid: userid })
                .fail(function (data) {
                    alert("Error while trying to start voting");
                })
        }

    </script>
}