@model LobbyConfigViewModel

<div class="card">
    <h5 class="card-title">Settings</h5>
    <div class="card-body">
        <div class="input-group mb-3">
            <label class="input-group-text" for="inputProvideLable">Provider</label>
            <select class="form-select" id="inputProviderSelect" disabled>
                @if (@Model.api == "PseudoApi")
                {
                <option selected value="PseudoApi">Test</option> }
                else
                {
                <option value="PseudoApi"> Test </option>}
                @if (@Model.api == "NetflixApi")
                {
                <option selected value="NetflixApi">Netflix</option> }
                else
                {
                    <option value="NetflixApi">Netflix</option>}
                @if (@Model.api == "AmazonPrimeApi")
                {
                    <option selected value="AmazonPrimeApi">AmazonPrime</option>
                }
                else
                {
                    <option value="AmazonPrimeApi">AmazonPrime</option>
                }
                @if (@Model.api == "AniflixApi")
                {
                    <option selected value="AniflixApi">Aniflix</option>
                }
                else
                {
                    <option value="AniflixApi">Aniflix</option>
                }
            </select>
        </div>
        <div>
            <label for="customRangeGenre" class="form-label" id="customRangeGenreLabel">Genre swipes: @Model.swipes_genre</label>
            <input type="range" class="form-range" min="1" max="5" value="@Model.swipes_genre" id="customRangeGenre" disabled>
        </div>
        <div>
            <label for="customRangeShow" class="form-label" id="customRangeShowLabel">Show swipes: @Model.swipes_show</label>
            <input type="range" class="form-range" min="1" max="10" value="@Model.swipes_show" id="customRangeShow" disabled>
        </div>

        <button type="button" class="btn btn-success" id="configSubmitbtn" onclick="submitConfig()" style="display:none">Submit</button>
    </div>
</div>

    <script type="text/javascript">
        $(document).ready(function () {
            //$("#inputProviderSelect option[value='@Model.api']").select();
            $("#customRangeGenre").change(function () {
                $("#customRangeGenreLabel").text("Genre swipes: " + $("#customRangeGenre").val())
            });
            $("#customRangeShow").change(function () {
                $("#customRangeShowLabel").text("Show swipes: " + $("#customRangeShow").val())
            });
            if (host) {
                $("#configSubmitbtn").show();
                $("#inputProviderSelect").removeAttr('disabled');
                $("#customRangeGenre").removeAttr('disabled');
                $("#customRangeShow").removeAttr('disabled');
            }
        })

        function submitConfig() {
            $.post("/Main/setConfig", { "lobbyid": lobbyid, "provider": $("#inputProviderSelect option:selected").val(), "swipes": $("#customRangeShow").val(), "genresCount": $("#customRangeGenre").val()})
        }
    </script>
