
@model VotingViewModel

<div id="cardContainer"></div>


@section scripts{
    <script type="text/javascript">

        var name = "@Model.name";
        var lobbyid = @Model.lobbyid;
        var userid = @Model.userid;
        var host = @Model.host.ToString().ToLower();

        var intervalId;

        $(document).ready(function () {

            $("#cardContainer").load("@Url.Action("get","Main")", { 'id' : '123' }, function (response, status, xhr)
            {
            if (status == "error")
            {
                alert("An error occurred while loading the results.");
            }
        });
            intervalId = setInterval(function () {
                $.get("/Main/getMode", { lobbyid: lobbyid })
                    .done(function (data) {
                        if (data == 2) {
                            window.open("/Main/Voting?name=" + name + "&userid=" + userid + "&lobbyid=" + lobbyid + "&host=" + host, "_self");
                        }
                    })
                    .fail(function (data) {
                        alert("Error while trying to get Lobby mode");
                    })
            }, 5000);
        });

    </script>
}